nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 2%;
}

.spacer {
    height: 80px;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    background-color: #282c34;
}